<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-school-edit" th:object="${school}">
            <input id="schoolId" name="schoolId" th:field="*{schoolId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">分部名称：</label>
				<div class="col-sm-8">
					<input id="schoolName" name="schoolName" th:field="*{schoolName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">校长：</label>
				<div class="col-sm-8">
					<input id="headmaster" name="headmaster" th:field="*{headmaster}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">副校长：</label>
				<div class="col-sm-8">
					<input id="president" name="president" th:field="*{president}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "teach/school";
		$("#form-school-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-school-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
