<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/layui/layui.css}" rel="stylesheet"/>
<style>
    span{
        position: absolute;
        top: 10px;
    }
</style>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-teachFileCollection-edit" th:object="${teachFileCollection}">
        <input id="studentId" name="studentId" th:field="*{studentId}" type="hidden">
        <input id="classId" name="classId" th:field="*{classNo}" type="hidden">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">课工场账号：</label>
                <div class="col-sm-8">
                    <!--<input id="kgcNo" name="kgcNo" th:field="*{kgcNo}" class="form-control" type="text">-->
                    <span th:text="*{kgcNo}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">课工场uid：</label>
                <div class="col-sm-8">
                    <!--<input id="kgcUid" name="kgcUid" th:field="*{kgcUid}" class="form-control" type="text">-->
                    <span th:text="*{kgcUid}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">课工场昵称：</label>
                <div class="col-sm-8">
                    <!--<input id="kgcNickname" name="kgcNickname" th:field="*{kgcNickname}" class="form-control"-->
                           <!--type="text">-->
                    <span th:text="*{kgcNickname}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <!--<input id="status" name="status" th:field="*{status}" class="form-control" type="text">-->
                    <!--<select id="status" name="status" class="form-control m-b"
                            th:with="type=${@dict.getType('teach_status')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                th:field="*{status}"></option>
                    </select>-->
                    <span th:text="*{params.state}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">学生姓名：</label>
                <div class="col-sm-8">
                    <!--<input id="studentName" name="studentName" th:field="*{studentName}" class="form-control"
                           type="text">-->
                    <span th:text="*{studentName}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">进班时间(报档时间)：</label>
                <div class="col-sm-8">
                    <!--<input id="startTime" name="startTime" th:field="*{startTime}" class="form-control" type="text">-->
                    <span th:text="*{startTime}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">学生项目的地址：</label>
                <div class="col-sm-8">
                    <!--<input id="postname" name="postname" th:field="*{postname}" class="form-control" type="text">-->
                    <span th:text="*{postname}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">学生性别：</label>
                <div class="col-sm-8">
                    <!--<input id="studentSex" name="studentSex" th:field="*{studentSex}" class="form-control" type="text">-->
                    <!--<select id="studentSex" name="studentSex" class="form-control m-b"
                            th:with="type=${@dict.getType('sys_user_sex')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                th:field="*{studentSex}"></option>
                    </select>-->
                    <span th:text="*{params.gender}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">籍贯：</label>
                <div class="col-sm-8">
                    <!--<input id="nativePlace" name="nativePlace" th:field="*{nativePlace}" class="form-control"
                           type="text">-->
                    <span th:text="*{nativePlace}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">身份证号：</label>
                <div class="col-sm-8">
                    <!--<input id="idCardNo" name="idCardNo" th:field="*{idCardNo}" class="form-control" type="text">-->
                    <span th:text="*{idCardNo}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">最高学历：</label>
                <div class="col-sm-8">
                    <!--<input id="education" name="education" th:field="*{education}" class="form-control" type="text">-->
                    <span th:text="*{params.edu}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">电话：</label>
                <div class="col-sm-8">
                    <!--<input id="phone" name="phone" th:field="*{phone}" class="form-control" type="text">-->
                    <span th:text="*{phone}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">邮箱：</label>
                <div class="col-sm-8">
                    <!--<input id="mail" name="mail" th:field="*{mail}" class="form-control" type="text">-->
                    <span th:text="*{mail}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">家庭地址：</label>
                <div class="col-sm-8">
                    <!--<input id="address" name="address" th:field="*{address}" class="form-control" type="text">-->
                    <span th:text="*{address}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">班级：</label>
                <div class="col-sm-8">
                    <!--<input id="classNo" name="classNo" readonly="readonly" th:field="*{className}" class="form-control"-->
                           <!--type="text">-->
                    <span th:text="*{className}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">学生来源：</label>
                <div class="col-sm-8">
                    <!--<select id="extend1" class="form-control m-b"
                            th:with="type=${@dict.getType('teach_student_source')}">
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                th:field="*{extend1}"></option>
                    </select>-->
                    <span th:text="*{params.source}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">毕业院校：</label>
                <div class="col-sm-8">
                    <!--<input id="graduateInstitutions" name="graduateInstitutions" th:field="*{graduateInstitutions}"
                           class="form-control" type="text">-->
                    <span th:text="*{graduateInstitutions}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">学前工作经历：</label>
                <div class="col-sm-8">
                    <!--<input id="workExperience" name="workExperience" th:field="*{workExperience}" class="form-control"
                           type="text">-->
                    <span th:text="*{workExperience}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">是否有基础：</label>
                <div class="col-sm-8">
                   <!-- <select id="base" name="base" class="form-control m-b"
                            th:with="type=${@dict.getType('teach_basic')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                th:field="*{base}"></option>
                    </select>-->
                    <span th:text="*{params.basic}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">英语水平：</label>
                <div class="col-sm-8">
                    <!--<select id="englishLevel" class="form-control m-b"
                            th:with="type=${@dict.getType('teach_english_level')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                th:field="*{englishLevel}"></option>
                    </select>-->
                    <span th:text="*{params.englishLevel}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">学历性质：</label>
                <div class="col-sm-8">
                    <!--<input id="degreeInNature" name="degreeInNature" th:field="*{degreeInNature}" class="form-control"
                           type="text">-->
                    <span th:text="*{params.nature}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">毕业时间：</label>
                <div class="col-sm-8">
                    <!--<input id="graduateDate" name="graduateDate" th:field="*{graduateDate}" class="form-control"
                           type="text">-->
                    <span th:text="*{graduateDate}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">专业：</label>
                <div class="col-sm-8">
                    <!--<input id="major" name="major" th:field="*{major}" class="form-control" type="text">-->
                    <span th:text="*{major}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">与紧急联络人的关系：</label>
                <div class="col-sm-8">
                    <!--<input id="emergencyContact" name="emergencyContact" th:field="*{emergencyContact}"
                           class="form-control" type="text">-->
                    <span th:text="*{emergencyContact}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">紧急联系人电话：</label>
                <div class="col-sm-8">
                    <!--<input id="emergencyContactPhone" name="emergencyContactPhone" th:field="*{emergencyContactPhone}"
                           class="form-control" type="text">-->
                    <span th:text="*{emergencyContactPhone}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">就业意向城市：</label>
                <div class="col-sm-8">
                    <!--<input id="jobCity" name="jobCity" class="form-control" type="text">-->
                    <!--<select id="jobCity" class="form-control m-b" th:with="type=${@dict.getType('teach_job_city')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                                th:field="*{jobCity}"></option>
                    </select>-->
                    <span th:text="*{params.englishLevel}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">教材编号：</label>
                <div class="col-sm-8">
                    <!--<input id="textbookNo" name="textbookNo" th:field="*{textbookNo}" class="form-control" type="text">-->
                    <span th:text="*{textbookNo}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">通行证：</label>
                <div class="col-sm-8">
                    <!--<input id="trafficPermit" name="trafficPermit" th:field="*{trafficPermit}" class="form-control"-->
                           <!--type="text">-->
                    <span th:text="*{trafficPermit}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">邮政编码：</label>
                <div class="col-sm-8">
                    <!--<input id="postalCode" name="postalCode" th:field="*{postalCode}" class="form-control" type="text">-->
                    <span th:text="*{postalCode}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">学生姓名拼音：</label>
                <div class="col-sm-8">
                    <!--<input id="studentNamePinyin" name="studentNamePinyin" th:field="*{studentNamePinyin}"
                           class="form-control" type="text">-->
                    <span th:text="*{studentNamePinyin}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <!--<input id="extend2" name="extend2" th:field="*{extend2}" class="form-control" type="text">-->
                    <span th:text="*{extend2}"></span>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>

<script type="text/javascript">

</script>

</body>
</html>
